*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#040924;
    --white-color:#FFFFFF;
    --tilte-color:#0C3440;
    --text-color:#00453A;
    --text-input:#212529;
    --bg-input:#DCE2E9;
    --bg-btn:#02799D;
    --bg-erro:#F03E3E;

    --font-roboto:'Roboto', sans-serif;;


    font-size: 62.5%;
}

body{
    background-color: var(--bg-color);
    font-size: 1.6rem;
}

body,input,button,select,textarea{
    font-family: 'Roboto', sans-serif;
}

.container{ 
    display: grid;
    place-content: center;
    height: 100vh;
}

.card{
    background-color:var(--white-color) ;
    border-radius: 0.6rem;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    width: 42.8rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);    
}

.card h1{
    color: var(--tilte-color);
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}

form{
    display: flex;
    flex-direction: column; 
} 

form input,button{
    padding: 1.6rem;
    border-radius: 0.4rem;
}

.input-wrapper:first-child{
    margin-bottom: 1.6rem;
}

.input-wrapper label{
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-bottom: 0.6rem;
}

.input-wrapper input{
    background-color: var(--bg-input);
    border-radius: 0.4rem;
    border: 1px solid var(--bg-btn);
    color: var(--text-input);
    font-size: 1.6rem;
    line-height: 2rem;
    width: 100%;
}


form button{
    color: var(--white-color);
    background-color: var(--bg-btn);
    margin-top: 3.2rem;
    font-weight: 700;
    font-size: 1.6rem;
    border: none;
    line-height: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

form button:hover{
    background-color:#17474d;
}

/* Alert error */
.alert{
    background-color: var(--bg-erro);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.8rem 0;
    color: var(--white-color);
    font-weight: bold;
    transform: translateY(-30rem);
    transition: transform 0.5s;
}

.erro{
    transform: translateY(0);
}




/* Modal */

.modal-wrapper{
    position: absolute;
    background: rgba(0, 0, 0, 0.70);
    inset: 0;
    display: grid;
    place-content: center;
}

.modal.card{
    width: 36.3rem;
}

.modal-wrapper.open{
    visibility: visible;
    opacity: 1;
}

.modal-wrapper{
    visibility: hidden;
    opacity: 0;
}

.modal{
    position: relative;
}

.modal h2{
    color: var(--tilte-color);
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
}

.modal i{
    border: none;
    background-color: none;
    font-size: 2.4rem;
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    cursor: pointer;
}